@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden !important;
  z-index: 0 !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}
::selection {
  background-color: rgb(15, 21, 31);
  color: #fff;
}
::-webkit-scrollbar {
  width: 0px;
}

